[submodule "vendor/airbench"]
	path = vendor/airbench
	url = https://github.com/KellerJordan/cifar10-airbench
[submodule "vendor/modded-nanogpt"]
	path = vendor/modded-nanogpt
	url = https://github.com/KellerJordan/modded-nanogpt
[submodule "vendor/DynMuon"]
	path = vendor/DynMuon
	url = https://github.com/fzwark/DynMuon
